#masthead{text-align: center;}
.subtitle{color: #9C5344}
.Book1{text-align: center;}
.Book2{text-align: center;}
.Book3{text-align: center;}
.Book5{text-align: center;}
.Book9{text-align: center;}
body{font-family: Helvetica, sans-serif;}
